body {
	margin: 0px;

}

.main {
	position:fixed;

	height: 100%;
	width: 100%;
	background-color: #00FFFF;
}

.left {
	width: 50%;
	height: 600px;
	float: left;

}

.right {
	width: 50%;
	height: 600px;
	float: left;
}

.div_for {
	margin-top: 10px;

}

label {
	margin-left: 5%;
}

input {
	position: relative;
	float: right;
	margin-right: 5%;
}